.app-wrapper {
  display              : grid;
  grid-template-rows   : 60px 500px;
  grid-template-columns: 1fr 10fr;
  grid-template-areas  : "h h""n c";
}

.header {
  background-color: aqua;
  grid-area       : h;
}

.nav {
  grid-area       : n;
  background-color: blueviolet;
}

.main {
  grid-area: c;
}

.logo {
  width : 60px;
  height: auto;
}